fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
redis
aiokafka
boto3
scikit-learn
transformers
torch
accelerate
python-multipart
python-dotenv
pydantic-settings
httpx
pillow
pdf2image
pytesseract