fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pdfplumber
alembic
redis
aiokafka
boto3
scikit-learn
transformers
torch
accelerate
python-multipart
pydantic-settings
httpx
pillow
pdf2image
pytesseract
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
